#divHover:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    
}
/* .card {
    width: 200px; 
    height: 150px; 
    font-size: 12px; 
  } */
  
  /* .card .p-menuitem-link {
    padding: 5px; 
  } */
  
  /* .card .pi {
    font-size: 1rem; 
  } */