<h3>Choose a color:</h3>
<p-colorPicker
  [(ngModel)]="selectedColor"
  [style]="{ width: '250px' }"
  [inline]="true"
></p-colorPicker>
<p>{{ selectedColor }}</p>
<!-- ============================ -->
<div class="card" style="width: 50%">
  <p-button
    type="button"
    pRipple
    (click)="addMessages()"
    label="Show"
    styleClass="mr-2"
  />
  <p-button
    type="button"
    pRipple
    (click)="clearMessages()"
    label="Clear"
    severity="secondary"
  />
  <p-messages [(value)]="messages!" [enableService]="false" />
</div>
<!-- =================== -->
<p-tag value="Primary" [rounded]="true" />
<!-- ===================== -->

<div class="card flex justify-content-center">
  <p-card
    header="Task"
    subheader="Create and update your tasck"
    [style]="{ width: '800px' }"
  >
    <ng-template pTemplate="header">
      <div style="height: 50px; background-color: black"></div>
    </ng-template>
    <!-- =============================================================== -->
    <!-- Assignees -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-user"></span>
        Assignees
      </p>
      <div>
        <p-inputGroup class="w-full" [style]="{ height: '20px' }">
          <!-- <p-button
            (click)="showAssignees = !showAssignees"
            [style]="{ height: '20px' }"
            label="Association"
            [outlined]="true"
            severity="secondary"
          ></p-button> -->
          
          <p-inputGroupAddon *ngIf="!selectedUser"
            ><span
              (click)="showAssignees = !showAssignees"
              class="pi pi-user-plus"
            ></span>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
      <!-- <div *ngIf="selectedUser"> -->
        <p-avatar *ngIf="selectedUser"
            [label]="selectedUser.userName.charAt(0)"
            styleClass="mr-3"
            [style]="{
              'background-color': getColor(selectedUser.userName),
              color: '#fff'
            }"
            shape="circle"
            (click)="showAssignees = !showAssignees"
          ></p-avatar>
      <!-- </div> -->
    </div>
    <!-- pop -->
    <form [formGroup]="formGroupUser" *ngIf="showAssignees">
      <p-listbox
        [options]="users"
        [filter]="true"
        formControlName="selectedUser"
        [(ngModel)]="selectedUser"
        optionLabel="userName"
        [style]="{ width: '15rem' }"
        [listStyle]="{ 'max-height': '400px' }"
        (onChange)="showAssignees = !showAssignees"
      >
        <ng-template let-user pTemplate="item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <p-avatar
                [label]="user.userName.charAt(0)"
                styleClass="mr-3"
                [style]="{
                  'background-color': getColor(user.userName),
                  color: '#fff'
                }"
                shape="circle"
              ></p-avatar>
              <span>{{ user.userName }}</span>
            </div>
            <!-- <button
              pButton
              type="button"
              icon="pi pi-check"
              class="p-button-rounded p-button-success p-button-sm ml-5"
              style="
                height: 24px;
                color: black;
                background-color: #f0f0f0;
                font-weight: bold;
                border-radius: 7px;
                font-size: 10px;
              "
              label="profile"
            ></button> -->
          </div>
        </ng-template>
      </p-listbox>
    </form>
    <br />
    <!-- Status  -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-spinner-dotted"></span>
        Status
      </p>
      <div>
        <p-inputGroup class="w-full md:w-30rem" [style]="{ height: '20px' }">
          <p-button
            [style]="{ height: '20px' }"
            label="To Do"
            [outlined]="true"
            severity="secondary"
            (click)="showStatus = !showStatus"
          ></p-button>
          <p-inputGroupAddon
            ><i class="pi pi-angle-right"></i
          ></p-inputGroupAddon>
          <p-inputGroupAddon>
            <div class="card flex justify-content-center">
              <p-checkbox
                [style]="{ color: 'green' }"
                [(ngModel)]="checked"
                [binary]="true"
                inputId="binary"
                (onChange)="changeStatus()"
              ></p-checkbox>
            </div>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
    <!-- pop -->
    <form [formGroup]="formGroupStatus" *ngIf="showStatus">
      <div style="width: 200px" class="card flex justify-content-center">
        <p-menu
          [model]="items"
          styleClass="w-full md:w-5rem"
         
        >
          <ng-template pTemplate="submenuheader" let-item>
            <span [style]="{ color: 'gray', 'font-size': '10px' }">{{
              item.label
            }}</span>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            <div pRipple class="flex align-items-center p-menuitem-link">
              <span
                [style]="{ color: item.color }"
                class="pi pi-stop-circle"
              ></span>
              <span
                class="ml-2"
                [style]="{ color: 'gray', 'font-size': '12px' }"
                >{{ item.label }}</span
              >
              <span
                [class]="item.icon"
                [style]="{ 'margin-left': '40%' }"
              ></span>
            </div>
          </ng-template>
        </p-menu>
      </div>
    </form>
    <!--  -->
    <br /><br />
    <!-- Tags -->
    <div style="display: flex; align-items: center; height: 10px">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-tag"></span>
        Tags
      </p>
      <div
        (click)="status()"
        style="width: 300px; background-color: rgb(240, 240, 240)"
        class="card flex justify-content-center"
      >
        <p-inputGroup class="w-full md:w-30rem">
          <p-button
            label="To Do"
            [outlined]="true"
            severity="secondary"
          ></p-button>
          <p-inputGroupAddon
            ><i class="pi pi-angle-right"></i
          ></p-inputGroupAddon>
          <p-inputGroupAddon>
            <div class="card flex justify-content-center">
              <p-checkbox
                [(ngModel)]="checked"
                [binary]="true"
                inputId="binary"
              ></p-checkbox>
            </div>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
    <br /><br />
    <!-- Dates -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-calendar-plus"></span>
        Dates
      </p>
      <div>
        <p-inputGroup class="w-full md:w-30rem" [style]="{ height: '20px' }">
          <!-- <p-button
            [style]="{ height: '20px' }"
            label="Dates"
            [outlined]="true"
            severity="secondary"
          ></p-button> -->
          <p-calendar
            [style]="{ height: '20px', width: '200px' }"
            [(ngModel)]="date2"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
          />
        </p-inputGroup>
      </div>
    </div>
    <!--  -->
    <br /><br />
    <!-- Client -->
    <div style="display: flex; align-items: center; height: 50px" id="divHover">
      <p style="margin-top: 2%; margin-right: 5%">
        <span class="pi pi-users"></span>
        Client
      </p>
      <div>
        <p-inputGroup class="w-full md:w-30rem" [style]="{ height: '20px' }">
          <p-inputGroupAddon *ngIf="!selectedClient"
            ><span (click)="showClients = !showClients" class="pi pi-user"></span
          ></p-inputGroupAddon>
          <p-avatar *ngIf="selectedClient"
          [label]="selectedClient.name && selectedClient.name.charAt(0)"
          styleClass="mr-3"
          [style]="{
            'background-color': selectedClient.name && getColor(selectedClient.name),
            color: '#fff'
          }"
          shape="circle"
          (click)="showClients = !showClients"
        ></p-avatar>
        </p-inputGroup>
      </div>
    </div>
    <!-- pop -->
    <form [formGroup]="formGroupClient" *ngIf="showClients">
      <p-listbox
        [options]="clients"
        [filter]="true"
        formControlName="selectedClient"
        [(ngModel)]="selectedClient"
        optionLabel="name"
        [style]="{ width: '15rem' }"
        [listStyle]="{ 'max-height': '400px' }"
        (onChange)="showClients = !showClients"
      >
        <ng-template let-client pTemplate="item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <p-avatar
                [label]="client.name && client.name.charAt(0)"
                styleClass="mr-3"
                [style]="{
                  'background-color': client.name && getColor(client.name),
                  color: '#fff'
                }"
                shape="circle"
              ></p-avatar>
              <span>{{ client.name && client.name }}</span>
            </div>
            <!-- <button
              pButton
              type="button"
              icon="pi pi-check"
              class="p-button-rounded p-button-success p-button-sm ml-5"
              style="
                height: 24px;
                color: black;
                background-color: #f0f0f0;
                font-weight: bold;
                border-radius: 7px;
                font-size: 10px;
              "
              label="profile"
            ></button> -->
          </div>
        </ng-template>
      </p-listbox>
    </form>
    <!--  -->
    <br /><br />
    <!--  -->
    <div class="card">
      <p-editor [(ngModel)]="text" [style]="{ height: '320px' }" />
    </div>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1" style="margin-left: 70%">
        <p-button
          label="Cancel"
          severity="secondary"
          class="w-full"
          styleClass="w-full"
          (click)="cancel()"
        />
        <p-button
          label="Save"
          class="w-full"
          styleClass="w-full"
          (click)="save()"
        />
      </div>
    </ng-template>
  </p-card>
</div>

<!-- ============== -->

<div class="text-500 w-6 md:w-2 font-medium">Genre</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <p-chip label="Crime" class="mr-2"></p-chip>
                <p-chip label="Drama" class="mr-2"></p-chip>
                <p-chip label="Thriller"></p-chip>
            </div>
            <div class="w-6 md:w-2 flex justify-content-end">
                <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>
            </div>
